<!DOCTYPE html>
<html>
  <head>
    <title>Inspirati</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="logo">inspirati</div>
      </div>

      <div class="col-4 slogan">
        Quality hand-picked quotes to <span class="italic">inspire</span> you
      </div>

      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr>

    <br class="clear">

    <%= yield %>
  </body>
</html>
