<!DOCTYPE html>
<html>
  <head>
    <title>Inspirati</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path do %>
          <div class="logo">inspirati</div>
        <% end %>
      </div>

      <div class="col-5 slogan text-right">
        Quality hand-picked quotes to <span class="italic">inspire</span> you
      </div>

      <div class="col-4 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', about_path %>
      </div>
    </header>

    <hr>

    <br class="clear">

    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="footer">
      <div class="">
        <%= link_to "Hit me with more inspiration!", root_path, class: 'next-quote' %>
      </div>

      <div class="footer-blurb">
        Proudly built with <i class="fa fa-heart animated pulse"></i> in Toronto, CA 🇨🇦 by <a href="http://michellejanosi.com" target="_blank"><span class="footer-italic">Michelle Janosi</span></a>.
      </div>
    </div>
  </body>
</html>
